.logo {
  font-family: Rubik;
  color: #fff;
  font-size: 60;
  margin-bottom: 20px;
  transform: scale(0.5);
}
.mat {
  color: #999;
}
.id {
  color: #ee7f2d;
  text-shadow: 0 1px 0 rgba(238,127,45,0.1), 0 4px 0 rgba(238,127,45,0.3), 0 5px 0 #c95d0e, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}
